p{
	color:#00F;
}

h1{
<<<<<<< HEAD
	color:#F11;
=======
	color:#F00;
>>>>>>> 49a1b27 (Changement couleur)
	text-align:center;


menu{
	background-color : #0F0;
	color : #000;
	text-align : center;
	font-size : 15px;
}
